{% extends 'base.html.twig' %}
{% form_theme form 'form/registroForm.html.twig' %}

 {% block title %}
   TAREAS
 {% endblock%}

 {% block body %}
 <div class="cont-head">
  <div class="row">
    <div class="col-lg-2 col-md-2">
     <button type="button" class="btn  btn-success btn-table" data-toggle="modal" data-target="#exampleModal">
     <span class="fa fa-plus"></span>
     Nueva Tarea
     </button>
   
   </div>
    <div class="col-lg-4 col-md-4 navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 hidden"></div>
  </div>
 </div>
 <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Fecha</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Status</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    {% for registro in registros %}
      <tr id="registro">
         
        <td>{{ registro.title }}</td>
        <td>{{ registro.descripcion }}</td>
        <td>{{ registro.fecha|date("m/d/y")}}</td>
        <td>{{ registro.prioridad }}</td>
        <td>{{ registro.status }}</td>
        <td><a href="{{path('tarea_update', {'id':registro.id})}}" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit"></i></a>
        <a href="{{path('tarea_delete', {'id':registro.id})}}"><i class="fas fa-trash-alt"></i></i></a></td>
           
      </tr>
    {% endfor %}
      
  </tbody>
</table>
{#++++++++++++++++++++++++++++Modal Form++++++++++++++++++++++++++++++++++++++#}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Tarea</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{form_start(form, {'action':'', 'method':'POST'})}}
          {{ form_widget(form) }}
        
      </div>
      <div class="modal-footer">
        {{form_end(form)}}
      </div>
    </div>
  </div>
</div>
{#++++++++++++++++++++++++++++ END Modal Form++++++++++++++++++++++++++++++++++++++#}

{% endblock%}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('bundles/framework/js/popup.js') }}"></script>
{% endblock %}
